p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.App {
  display: flex;
  width: 100%;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 18%;
  overflow: hidden;
  border: 1px solid saddlebrown;
  padding-bottom: 15px;
  min-width: 240px;
}

.sideBar .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
}

.header .logo {
  width: 80%;
}

.header .siteTitle {
  margin: 0;
}

.sideBar .navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.navBar .option {
  background-color: #96D7A5;
  width: 95%;
  text-align: center;
  padding: 4px 0;
  box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3), 0 0 0 3px rgba(185, 185, 185, 0.3);
  border-radius: 10px 10px 10px 10px;
}

.body {
  width: 82%;
  display: flex;
  flex-direction: column;
  border: solid 1px saddlebrown;
}

.starBar {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 95%;
  padding: 12px 14px;
  gap: 20px;
}

.starBar .starCard {
  display: flex;
  flex-direction: column;
  border: 1px solid saddlebrown;
  border-radius: 1px 10px 1px 10px;
  padding: 3px 4px;
  min-width: 280px;
}

/* users */
.main-api{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 209, 100, 0.2);
  box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3), 0 0 0 3px rgba(185, 185, 185, 0.3);
}


.main-api .card{
  display: flex;
  justify-content: space-evenly;
  width: 95%;
 
}
.main-api .card .transparent-box{
  width: 100%;
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 1px 10px 1px 10px;
  justify-content:center;
  box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3), 0 0 0 3px rgba(185, 185, 185, 0.3);
}

.main-api .card .transparent-box h3,h4{
  text-align: center;
}


.main-api .list{
  display: flex;
  justify-content: space-evenly;
  width: 95%;
}

.main-api .list .items{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: 7px;
  padding: 5px 15px;
  justify-content: center;
}
.items .user{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
 
}

.items .user .info{
  width: 100%;
  margin: 5px;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #754847;
  border-radius: 1px 10px 1px 10px;
  opacity: 0.8;
}

