p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a{
  text-decoration: none;
}

.App {
  display: flex;
  width: 100%;
  background-color: #282c34;
  height: 100vh;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 18%;
  overflow: hidden;
  border: 1px solid saddlebrown;
  padding-bottom: 15px;
  min-width: 240px;
}

.sideBar .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
}

.header .logo {
  padding: 20px 0 8px 0;
  width: 80%;
}

.header .siteTitle {
  color: #BCE310;
  margin-bottom: 9px;
}

.sideBar .navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.option {
  background-color: transparent;
  width: 95%;
  text-align: center;
  padding: 4px 0;
  border-radius: 4px;
  border: #BCE310 solid 1px;
  color: #BCE310;
  transition: all .3s ease;
}

.option:hover {
  color: #282c34;
  background-color: #BCE310;
}

.body {
  width: 82%;
  display: flex;
  flex-direction: column;
  border: solid 1px saddlebrown;
  padding: 20px 0;
}

.starBar {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 97%;
  padding: 12px 14px;
  gap: 20px;
  margin-bottom: 15px;
}

.starBar .starCard {
  display: flex;
  flex-direction: column;
  border-radius: 1px 10px 1px 10px;
  min-width: 280px;
  color: #BCE310;
  padding: 9px 18px;
  gap: 2px;
  border-left: 0px solid #754847;
  transition: all .3s ease;
  background-color: #4D5463;
}

.starBar .starCard:hover {
  border-left: 4px solid #754847;
}

.overView {
  border: 2px red solid;
  display: flex;
}

.overView .detail {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: blue 2px solid;
}

.detail .ilustration {
  height: 70%;
  max-width: 70%;
}

.detail .properties {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px 10px;
  border: yellow 2px solid;
}

.overView .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 30px 0;
  width: 30%;
}

.list .option {
  width: 90%;
}

.list .subTitle {
  margin-bottom: 16px;
}


